<footer class="footer" role="contentinfo">
    <div class="footer-logo">
        <a href="/">
            <img src="/images/logo/text_2lines_white.svg" alt="Logo image">
        </a>
    </div>
    <div class="footer-links">
        <ul>
            <li>
                <h3>Content</h3>
            </li>
            <li><a href="/#posts">Blog</a></li>
            <li><a href="/#portfolio">Portfolio</a></li>
            <li><a href="/#about">About</a></li>
        </ul>
        <ul>
            <li>
                <h3>Follow Me</h3>
            </li>
            <li><a href="javascript:void(0)">Facebook</a></li>
            <li><a href="javascript:void(0)">Twitter</a></li>
            <li><a href="javascript:void(0)">YouTube</a></li>
        </ul>
        <ul>
            <li>
                <h3>Inspiration</h3>
            </li>
            <li><a href="https://en.wikipedia.org/wiki/Alfred_Sisley">Alfred Sisley</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Joaqu%C3%ADn_Sorolla">Joaquín Sorrola</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Edward_Seago">Edward Seago</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Edgar_Degas">Edgar Degas</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Ken_Howard_(artist)">Ken Howard</a></li>
        </ul>
    </div>

    <hr>

    <p>&copy; Artwork by Ray Murphy. Site by Ian Gates 2017</p>
</footer>