
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
    <label for="sidebar-checkbox" class="sidebar-toggle-wrapper bg-dark-gray">
        <div class="sidebar-toggle"></div>
    </label>

    <nav role="navigation" class="sidebar sidebar--right bg-dark-gray">
        <a href="/" class="textLogo--sidebar">{{ site.title }}</a>
        <ul class="sidebar-recentPosts">
            <li>Portfolios:</li>
            {% for portfolio in site.data.portfolio %}
            <li class="gallery-link"><a href="/{{portfolio.name}}.html">{{portfolio.name}}</a></li>
            {% endfor %}
        </ul>
        <ul class="sidebar-recentPosts">
            <li>Recent Posts:</li>
            {% for post in site.posts limit:5 %}
                <li>
                <a href="{{ post.url }}" class="sidebar-recentPosts-image-wrapper">
                    <img src="{{post.image}}" style="" alt="">
                </a>
                <a href="{{ post.url }}">{{ post.title }}</a>
                <div class="postMeta">{{ post.date | date_to_string }}</div>
                </li>
            {% endfor %}
        </ul>
    </nav>
